<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Задать пароль</h1>
    <p>
      <%= "#{@user.firstname} #{@user.lastname} #{@user.secondname}" %>,
    </p>
    <p>
      чтобы задать пароль пройдите по ссылке <%= set_password_url(token: @user.token) %><br>
    </p>
  </body>
</html>