<% content_for :header do %>
Password Recovery
<% end %>
<% content_for :text do %>
Enter your email address and we will send you a link to reset your password.
<% end %>
<%= form_with do |f| %>
<div class="form-group">
	<%= f.label :email, "Email", :class => 'small mb-1' %>
  <%= f.text_field :email, :class => 'form-control py-4', :placeholder =>  'Логин или почта' %>
  <div class="float-right">
		<%= f.submit "Reset Password", :class => 'btn btn-primary mt-2' %>
	</div>
<% end %>